<footer class="navbar-fixed-bottom">
  <div class="footer-area-bottom foot">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-icons">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/jasminedm" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/Jasminedm" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/jasmined_m" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>             
              <li>
                <a href="mailto:dev.jasminedm@gmail.com" target="_blank">
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="credits">
            <a href="#">Privacy Policy</a> | <a href="#">Terms & Condition</a>
          </div>
          <div class="copyright text-center">
            <p>
              &copy; Copyright 2022. | <strong><a href="https://jazzyengineer-jasminedm.netlify.app/" target="_blank">Jazzy Engineer</a></strong> | All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
</body>
</html>