<%- include('partials/header') -%>
<body class="explore">
  
  

<!-- <label>Location:</label>  
        <select>  
        <option value = "1">Canada   
        </option>  
        <option value = "2">Japan   
        </option>  
        <option value = "3">United Kingdom  
        </option>  
        <option value = "4">France
        </option> 
        <option value = "5">Australia 
        </option>  
        </select>  
    </div><br> -->
  <!-- <iframe
  width="1000"
  height="250"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC0F0X8mvjnkAdC9W8R2l7HruLwmxwfPd8&q=Space+Needle,Seattle+WA">
</iframe>-->



<!-- <h1>Explore</h1><h2>-Search by location and/or price to see related post</h2>
<section>
    <div name ="budgetPaid" class="dropdown">
        <label>Location:</label>  
          <select>  
          <option value = "1">Canada   
          </option>  
          <option value = "2">Japan   
          </option>  
          <option value = "3">United Kingdom  
          </option>  
          <option value = "4">France
          </option> 
          <option value = "5">Australia 
          </option>  
          </select>  
      </div>

    <div name ="budgetPaid" class="dropdown">
        <label>Budget:</label>  
          <select>  
          <option value = "1">$500 - $1000   
          </option>  
          <option value = "2">$1000 - $1500   
          </option>  
          <option value = "3">$1500 - $2000  
          </option>  
          <option value = "4">$2500 - $3000  
          </option> 
          <option value = "5">$3000 - $4000  
          </option>  
          </select>  
      </div>
</section> -->

</body>

<%- include('partials/footer') -%>