<%- include('partials/header') -%>
<h1>Explore</h1><h2>-Search by location and/or price to see related post</h2>
<section>
    <div name ="budgetPaid" class="dropdown">
        <label>Location:</label>  
          <select>  
          <option value = "1">Canada   
          </option>  
          <option value = "2">Japan   
          </option>  
          <option value = "3">United Kingdom  
          </option>  
          <option value = "4">France
          </option> 
          <option value = "5">Australia 
          </option>  
          </select>  
      </div>

    <div name ="budgetPaid" class="dropdown">
        <label>Budget:</label>  
          <select>  
          <option value = "1">$500 - $1000   
          </option>  
          <option value = "2">$1000 - $1500   
          </option>  
          <option value = "3">$1500 - $2000  
          </option>  
          <option value = "4">$2500 - $3000  
          </option> 
          <option value = "5">$3000 - $4000  
          </option>  
          </select>  
      </div>
</section>
<%- include('partials/footer') -%>