






.feedBanner{
    display: block;
    width: 100%;
    height: auto;
    background: rgba(118, 135, 196, 0.5);
    
    box-shadow: 0 15px 25px rgba(2, 84, 78, 0.6);
    border-radius: 10px;
}
.feedImgs{
    width: 100px;
    height: 100px;
}
.hide{
    display: none;
}
.card{
    width: 30%;
    
    padding: 5%;
    margin: 1%;
    min-width: 200px;
}
.feedFilterLabel{
    font-size: 1rem;
    color: azure;

}
.feedLocateSearch{

}
