li{
  list-style-type: none;
}

/* Log In */
.logpic{
  background-image: url("../imgs/takeoff.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* .logmidpic{
  background-image: url("../imgs/follow\ dreamblackgirl.webp");
  background-position: ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
} */
/* INPUT PAGES */
textarea{
    height: 100px;
    width: 380px;
}
.display-image{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: #aaa;
    padding: 20px;
  }
  a{
    text-decoration: none;
    color: rgb(47, 116, 93);
  }
  /* ALL PAGES */
  .profile{
    background-image: url("../imgs/areal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .personalT{
    background-image: url("../imgs/island.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .feed{
    background-image: url("../imgs/water.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  /* EXPLORE */
  .explore{
    background-image: url("../imgs/couplebeeach1.jpg");
     background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  #googleMap{
    
    width: 100%;
    height: 200px;
  }
  .mapSect{
text-align: center;
border: 1px solid black;
  }
  .banner{
    height:350px; 
    background-image: url('../imgs/experiate.jp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
  /* END EXPLORE */
  /* PLAN */
  .plan{
    background-image: url('../imgs/purplelip.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .quizSect{
    text-align: center;
  }
  .subHeadPlan{
   display: inline-block;
   margin-right: 5%;
  }

  /* Show Plan */
  .showPlanSect{
    text-align: center;
  }
  /* PLAN END */
  /* FOOTER */
  .bg-light{
    background-color: #c0cad4!important;
  }
  footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    
  }
  .portfolio {
    color: rgb(37, 122, 146);
}
  .border-bottom {
    border-bottom: 1px solid #c7ebe4!important;
}
/* FOOTER END */