.loginBody{
color: black;

}
.signUpBody{
  color: black;
}

li{
  list-style-type: none;
}

/* Log In */
.logpic{
  background-image: url("../imgs/blueCity.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 10%;
}
.indexLogoPic{
  padding: 0%;
}
.img-fluid {
  max-width: 100%;
  height: 100%;
  background-image: url("../imgs/blackgrl.jpg");
}
.arrow:hover{
color: whitesmoke;

}

/* SIGNUP */
.signUpSect{
  padding-top: 0;
}
.form-text{
  color: rgb(42, 49, 56);
}
/* INPUT PAGES */
textarea{
    height: 100px;
    width: 380px;
}
.display-image{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: #aaa;
    padding: 20px;
  }
  a{
    text-decoration: none;
    color: rgb(47, 116, 93);
  }
  /* ALL PAGES */
  .profile{
    background-image: url("../imgs/areal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .personalT{
    background-image: url("../imgs/island.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .feed{
    background-image: url("../imgs/blackgrl.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .feedSect{
    text-align: center;
    padding: 10%;
  }
  .feedPhotos{
    width: 100%;
    height: 212px;
    background-position: center ;
    background-size: cover;
  }
  /* EXPLORE */
  .explore{
    background-image: url("../imgs/couplebeeach1.jpg");
    background-position: center;
    background-size: cover;
  }
  #googleMap{
    
    width: 100%;
    height: 200px;
  }
  .mapSect{
text-align: center;
border: 1px solid black;
  }
  .banner{
    height:350px; 
    /* background-image: url('../imgs/experiate.jp.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
  /* END EXPLORE */
  /* PLAN */
  .plan{
    background-image: url('../imgs/purplelip.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .planSect{
    padding: 10%;
  }
  .quizSect{
    text-align: center;
  }
  .subHeadPlan{
   display: inline-block;
   margin-right: 5%;
  }

  /* Show Plan */
  .showPlanSect{
    text-align: center;
  }
  .feedPlanSect{
    text-align: center;
  }
  /* PLAN END */
  /* FOOTER */
  
  footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%; 
  }
  /* .portfolio {
    color: rgb(37, 122, 146);
}
  .border-bottom {
    border-bottom: 1px solid #c7ebe4!important;
} */
/* FOOTER END */