*, ::after, ::before {
  box-sizing: border-box !important;
}


.loginBody{
color: black;

}
.signUpBody{
  color: black;
}

li{
  list-style-type: none;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* Log In */
.logpic{
  background-image: url("../imgs/goldnew.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 10%;
}
.indexLogoPic{
  padding: 0%;
}
.img-fluid {
  max-width: 100%;
  height: 100%;
  background-image: url("../imgs/blackgrl.jpg");
}
.arrow:hover{
color: rgb(7, 151, 191);
}
.showPlanArrow{
color: whitesmoke;
}

/* SIGNUP */
.signUpSect{
  padding-top: 0;
}
.form-text{
  color: rgb(42, 49, 56);
}
/* INPUT PAGES */
textarea{
  height: 35px;
  width: 100%;
}
.display-image{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: #aaa;
    padding: 20px;
  }
  a{
    text-decoration: none;
    color: rgb(47, 116, 93);
  }
  /* ALL PAGES */
  /* .profile{
    background-image: url("../imgs/areal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } */
  /* .personalT{
    background-image: url("../imgs/island.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } */
  .feed{
    background-image: url("../imgs/watercity1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .feedSect{
    text-align: center;
    padding: 20%;
  }
  .feedPlanBody{
    background-image: url("../imgs/bluegreencloud.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
  .planTripBody{
    background-image: url("../imgs/watercity1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .planTripSect{
    text-align: center;
    padding: 20%;
  }
  .planTripbanner{
height: 100px;
  }
  .feedPhotos{
    width: 100%;
    height: 212px;
    background-position: center ;
    background-size: cover;
  }
  /* EXPLORE */
  .explore{
    background-image: url("../imgs/couplebeeach.jpg");
    background-position: center;
    background-size: cover;
  }
  #googleMap{
    
    width: 100%;
    height: 200px;
  }
  .mapSect{
text-align: center;

  }
  .banner{
    height:350px; 
    /* background-image: url('../imgs/experiate.jp.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
  /* END EXPLORE */
  /* PLAN */
  .plan{
    background-image: url('../imgs/blackfam.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .planSect{
    padding: 15%;
  }
.showPlanBody{
  background-image: url("../imgs/bluewood.jpg");
}
.showPlanSubBody{
  padding: 10%;
}
.contentSect{
   background-color: rgba(5, 225, 214, 0.3);;
}
  .showPlanBanner{
    height: 200px;
  }
  .imgItenSect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .showPlanImg{
    width: 30%;
    height: auto;
  }
  .itencol{
    flex-direction: column;
  }
  .directionText{
    font-size: 2.2rem;
    line-height: 1.2;
    color: aquamarine;
  }

  .placesCard{
    width: 30%;
    height: 200px;
  }
  .categoryImg{
    height: 150px;
  }
  .quizSect{
    text-align: center;
    color: antiquewhite;
    font-size: 2rem;
  }
  .subHeadPlan{
   display: inline-block;
   margin-right: 5%;
  }
  .planMyTrips{
    color: whitesmoke;
  }
  .planMyTrips:hover{
color: rgb(17, 112, 112);
  }

  /* Show Plan */
  .showPlanSect{
    text-align: center;
  }
  .feedPlanSubBodySect{
    padding: 10%;
  }
  .feedPlanSect{
    text-align: center;
    padding: 10%;
    
  }
  .feedPlanimgAndInfo{
    display: flex;
  }
  .feedPlanImg{
    width: 30%;
    height: auto;
  }
  .feedPlanInfoTxt{
    font-size: .65rem;
    padding: 5%;
  }
  
  .feedPlanEachComment{
    border: 1px solid rgb(94, 131, 205);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .commentTxt{
    padding: 3%;
  }
  /* PLAN END */
  /* FOOTER */
  
  footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%; 
  }
  /* .portfolio {
    color: rgb(37, 122, 146);
}
  .border-bottom {
    border-bottom: 1px solid #c7ebe4!important;
} */
/* FOOTER END */






.buttonClass {
  font-size:10px;
  font-family:Trebuchet MS;
  width:90px;
  height:25px;
  border-width:1px;
  color:rgb(2, 51, 57);
  border-color:rgba(138, 131, 54, 1);
  font-weight:bold;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  box-shadow: 1px 0px 0px 0px rgba(114, 123, 126, 1);
  text-shadow: 2px 1px 23px #e1e2ed;
  background:linear-gradient(#ededed, rgba(41, 147, 224, 1));
}

.buttonClass:hover {
  background: linear-gradient(rgba(41, 147, 224, 1), #ededed);
}
